

@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    background-color: antiquewhite;
    height: 15vh;
    align-items: center;
    padding-left: 2%;

}

.nav h1{
    font-family : 'Antonio', sans-serif;
    color: rgb(220, 106, 153);
}